@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{
    ViewData["Title"] = "About";
}
<!-- Hero Area Start-->
<div class="slider-area ">
    <div class="single-slider section-overly slider-height2 d-flex align-items-center" data-background="@Url.Content("~/img/hero/about.jpg")">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap text-center">
                        <h2>About us</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Hero Area End -->
<!-- Support Company Start-->
<div class="support-company-area fix section-padding2">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-6 col-lg-6">
                <div class="right-caption">
                    <!-- Section Tittle -->
                    <div class="section-tittle section-tittle2">
                        <span>Who are we</span>
                        <h2>Elevator Pitch</h2>
                    </div>
                    <div class="support-caption">
                        <p class="pera-top">
                            In recruitment we are the partners, who win for both
                            candidates and clients. We are where opportunity meets
                            expertise. Both locally and globally Our commitment is to
                            forge meaningful connections that steer lifelong careers and
                            h help organizations reach their aspired potential.
                        </p>
                        <div class="section-tittle section-tittle2">
                            <h2>Our Big Hairy Audacious Gaol</h2>
                        </div>
                        <p>
                            Introduce 100% of our candidates into the right roles the
                            1st time. Every time…Again and Again.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="support-location-img">
                    <img src="@Url.Content("~/img/logo/Smiley Jobs Logo.png")" alt="" />
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Support Company End-->
<!-- How  Apply Process Start-->
<div class="apply-process-area apply-bg pt-150 pb-10">
    <div class="container">
        <!-- Section Tittle -->
        <div class="row">
            <div class="col-lg-12">
                <div class="section-tittle white-text text-center">
                    <span>Company Culture</span>
                    <h2>How we work</h2>
                </div>
            </div>
        </div>
        <!-- Apply Process Caption -->
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-process text-center mb-30">
                    <div class="process-ion">
                        <span class="flaticon-search"></span>
                    </div>
                    <div class="process-cap">
                        <h5>1. Pride and Accountability</h5>
                        <p>
                            Proud to be accountable to the best version of ourselves
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-process text-center mb-30">
                    <div class="process-ion">
                        <span class="flaticon-curriculum-vitae"></span>
                    </div>
                    <div class="process-cap">
                        <h5>2. Smiles and Positvity</h5>
                        <p>In Every interaction…Something worth smiling about</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-process text-center mb-30">
                    <div class="process-ion">
                        <span class="flaticon-tour"></span>
                    </div>
                    <div class="process-cap">
                        <h5>3. People Driven</h5>
                        <p>Contribute to a shared sense of belonging and community</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-process text-center mb-30">
                    <div class="process-ion">
                        <span class="flaticon-search"></span>
                    </div>
                    <div class="process-cap">
                        <h5>4. Relentless</h5>
                        <p>We don’t rest until we win</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-process text-center mb-30">
                    <div class="process-ion">
                        <span class="flaticon-curriculum-vitae"></span>
                    </div>
                    <div class="process-cap">
                        <h5>5. Leaders</h5>
                        <p>Lead by example</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-process text-center mb-30">
                    <div class="process-ion">
                        <span class="flaticon-tour"></span>
                    </div>
                    <div class="process-cap">
                        <h5>6. Problem solvers</h5>
                        <p>Solve problems before they exist</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- How  Apply Process End-->
<!-- Testimonial Start -->
<div class="testimonial-area testimonial-padding">
    <div class="container">
        <div class="section-tittle white-text text-center">
            <h2>Our Team</h2>
        </div>
        <!-- Testimonial contents -->
        <div class="row d-flex justify-content-center">
            <div class="col-xl-8 col-lg-8 col-md-10">
                <div class="h1-testimonial-active dot-style">
                    <!-- Single Testimonial -->
                    <div class="single-testimonial text-center">
                        <!-- Testimonial Content -->
                        <div class="testimonial-caption">
                            <!-- founder -->
                            <div class="testimonial-founder">
                                <div class="founder-img mb-30">
                                    <img src="@Url.Content("~/img/team/Lemogang.png")" alt="" />
                                    <span>Lemogang</span>
                                    <p>Smile Creator</p>
                                </div>
                            </div>
                            <div class="testimonial-top-cap">
                            </div>
                        </div>
                    </div>
                    <!-- Single Testimonial -->
                    <div class="single-testimonial text-center">
                        <!-- Testimonial Content -->
                        <div class="testimonial-caption">
                            <!-- founder -->
                            <div class="testimonial-founder">
                                <div class="founder-img mb-30">
                                    <img src="@Url.Content("~/img/team/Courtney.png")" alt="" />
                                    <span>Courtney</span>
                                    <p>Employee Happiness Advocate</p>
                                </div>
                            </div>
                            <div class="testimonial-top-cap">
                            </div>
                        </div>
                    </div>
                    <!-- Single Testimonial -->
                    <div class="single-testimonial text-center">
                        <!-- Testimonial Content -->
                        <div class="testimonial-caption">
                            <!-- founder -->
                            <div class="testimonial-founder">
                                <div class="founder-img mb-30">
                                    <img src="@Url.Content("~/img/team/Ongezwa.png")" alt="" />
                                    <span>Ongezwa</span>
                                    <p>Happiness Catalyst</p>
                                </div>
                            </div>
                            <div class="testimonial-top-cap">
                            </div>
                        </div>
                    </div>
                    <div class="single-testimonial text-center">
                        <!-- Testimonial Content -->
                        <div class="testimonial-caption">
                            <!-- founder -->
                            <div class="testimonial-founder">
                                <div class="founder-img mb-30">
                                    <img src="@Url.Content("~/img/team/Jesse.png")" alt="" />
                                    <span>Jesse</span>
                                    <p>Chief Inspiration Officer</p>
                                </div>
                            </div>
                            <div class="testimonial-top-cap">
                            </div>
                        </div>
                    </div>
                    <div class="single-testimonial text-center">
                        <!-- Testimonial Content -->
                        <div class="testimonial-caption">
                            <!-- founder -->
                            <div class="testimonial-founder">
                                <div class="founder-img mb-30">
                                    <img src="@Url.Content("~/img/team/Alyssa.png")" alt="" />
                                    <span>Alyssa</span>
                                    <p>Joy Instigator</p>
                                </div>
                            </div>
                            <div class="testimonial-top-cap">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial End -->
<!-- Online CV Area Start -->
<div class="online-cv cv-bg section-overly pt-90 pb-120" data-background="../assets/img/gallery/cv_bg.jpg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-10">
                <div class="cv-caption text-center">
                    <p class="pera1">FEATURED TOURS Packages</p>
                    <p class="pera2"> Make a Difference with Your Online Resume!</p>
                    <a href="#" class="border-btn2 border-btn4">Upload your cv</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Online CV Area End-->
<!-- Blog Area Start -->
<div class="home-blog-area blog-h-padding">
    <div class="container">
        <!-- Section Tittle -->
        <div class="row">
            <div class="col-lg-12">
                <div class="section-tittle text-center">
                    <span>Our latest blog</span>
                    <h2>Our recent news</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="home-blog-single mb-30">
                    <div class="blog-img-cap">
                        <div class="blog-img">
                            <img src="../assets/img/blog/home-blog1.jpg" alt="">
                            <!-- Blog date -->
                            <div class="blog-date text-center">
                                <span>24</span>
                                <p>Now</p>
                            </div>
                        </div>
                        <div class="blog-cap">
                            <p>|   Properties</p>
                            <h3><a href="single-blog.html">Footprints in Time is perfect House in Kurashiki</a></h3>
                            <a href="#" class="more-btn">Read more »</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="home-blog-single mb-30">
                    <div class="blog-img-cap">
                        <div class="blog-img">
                            <img src="../assets/img/blog/home-blog2.jpg" alt="">
                            <!-- Blog date -->
                            <div class="blog-date text-center">
                                <span>24</span>
                                <p>Now</p>
                            </div>
                        </div>
                        <div class="blog-cap">
                            <p>|   Properties</p>
                            <h3><a href="single-blog.html">Footprints in Time is perfect House in Kurashiki</a></h3>
                            <a href="#" class="more-btn">Read more »</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Blog Area End -->
